@page "/"
@inject Data.IJsInterop JS
<button @onclick="Clicked">Click</button>
<p>@MyNumber</p>

@code{
    public int MyNumber { get; set; }

    async Task Clicked()
    {
        MyNumber = await JS.CallMyFunction("test");
    }
}
